{% extends 'base.html' %}

{% block title %}{{ user.full_name if user else post.title }}{% endblock %}

{% block content %}
<h1>{{ user.full_name if user else post.title }}</h1>

<p>{{ post.content if post else '' }}</p>
<p><i>By {{ user.full_name if user else post.user.full_name }}
  on {{ post.friendly_date if post else '' }}
</i></p>

{% if post and post.tags %}
<p>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="/tags/{{ tag.id }}"><i class="badge badge-primary">{{ tag.name }}</i></a>
  {% endfor %}
</p>
{% endif %}

<form>
  <button class="btn btn-outline-primary"
          formmethod="GET"
          formaction="/{% if user %}users/{{ user.id }}{% else %}posts/{{ post.id }}{% endif %}">Cancel
  </button>
  <button class="btn btn-primary"
          formmethod="GET"
          formaction="/{% if user %}users/{{ user.id }}{% else %}posts/{{ post.id }}/edit{% endif %}">Edit
  </button>
  <button class="btn btn-danger"
          formmethod="POST"
          formaction="/{% if user %}users/{{ user.id }}{% else %}posts/{{ post.id }}/delete{% endif %}">Delete
  </button>
</form>

{% endblock %}
